/* BODY */

body{
    padding: 0;
    margin: 0;
    font-family: "Aachen BT";
}

/* HEADER */

    header {
        font-family: "Aachen BT";
    }

    /* MENU */

    ul.menu {
        margin-bottom: 0;
    }
    
    ul.menu > li {
        display: inline-block;
        position: relative;
    }
    
    ul.menu li a:hover, ul.menu li a:focus {
        color: #E58F00
    }
    
    ul.menu li:hover {
        display: block;
    }


/* FIN HEADER */

/* CONTACT */

    /* BODY */
    body.contact {
        color:black;
        background-color:white;
        background: linear-gradient(
        rgba(40, 40, 45, 0.5), 
        rgba(40, 40, 45, 0.5)
        ),
        url(../../assets/images/background_Contact.jpg);
        background-repeat: initial;
        background-size: cover;
        font-family: "Aachen BT";
        padding: 0;
        margin: 0;
    }

    section.header_title h1 {
        margin: 0;
        font-size: 90px;
        text-align: center;
        padding: 110px 0;
        text-transform: uppercase;
        color:#E58F00;
    }

    section iframe#Maps {
        float: right;
        margin-left: 100px;
        margin-right: 100px;
        /* margin-bottom: 200px; */
        right: 0px;
        top: 350px;
        position: absolute;
        /* margin-top: 600px; */
    }
    
    section#rens p {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 45px;
        margin-top: 40px;
        margin-left: 170px;
        color:#ffffff;
    }
    
    form#comm {
        border-radius: 10px;
        border-width: 6px;
        background-color: rgba(0, 0, 0, 0.5);
        border-style: double;
        /* border-color: rgb(255, 0, 0); */
        margin-left: 100px;
        margin-right: 800px;
        margin-top: 150px;
        margin-bottom: 60px;
        text-align: center;
        padding: 10px 10px;
        font-size: 20px;
        color:#E58F00;
        width: 80%;
    }

    div.email input{
        resize: none;
        width: 20%;
    }

    div.message textarea{
        resize: none;
        width: 80%;
    }

    button#submit {
        color:#28282d;
        background-color: #E58F00;
        border-radius: 5px;
    }


/* FIN CONTACT */

/* CONTACT */
    /* BODY */
    body.about {
        color:black;
        background-color:white;
        background: linear-gradient(
        rgba(40, 40, 45, 0.5), 
        rgba(40, 40, 45, 0.5)
        ),
        url(../../assets/images/background_Contact.jpg);
        background-repeat: initial;
        background-size: cover;
        font-family: "Aachen BT";
        padding: 0;
        margin: 0;
    }

    section.contact_title h1 {
        margin: 0;
        font-size: 90px;
        text-align: center;
        padding: 110px 0;
        text-transform: uppercase;
        color:#E58F00;
    }

    p#apropos-soul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 45px;
        margin-top: 40px;
        margin-left: 170px;
        color:#ffffff;
        text-decoration: underline;
    }

    section.apropos p {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 25px;
        margin-top: 40px;
        margin-left: 170px;
        color:#ffffff;
    }


/* HEADER */


/* HOME */

.homepage{
    background-color: #1d1d23;
}

.firstBlockHome{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(
        rgba(40, 40, 45, 0.95), 
        rgba(40, 40, 45, 0.95)
      ),
      url(../../assets/images/backgroundHome.png);
    background-size: cover;
}

.firstBlockHome img{
    width: 626px;
    height: 488px;
    margin-left: 70px;
    margin-right: 59px;
}

.firstBlockHome h2{
    font-size: 66px;
    color: #E58F00;
    font-weight: normal;
    margin-top: 0;
}

.firstBlockHome p{
    font-size: 25px;
    color: white;
}

.firstBlockHome .containerText{
    max-width: 520px;
    margin-right: 85px;
}

.firstBlockHome a{
    background-color: #E58F00;
    color: #28282d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    height: 70px;
    width: 200px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.firstBlockHome a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E58F00;
    border-radius: 5px;
    z-index: -2;
}

.firstBlockHome a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #b57300;
    transition: all .5s;
    border-radius: 5px;
    z-index: -1;
}


.firstBlockHome a:hover:before {
    width: 100%;
}

.secondBlockHome{
    margin-top: 120px;
    margin-left: 120px;
    display: flex;

}


.secondBlockHome .containerText{
    color: white;
    margin-left: 47px;
    margin-right: 85px;
}

.secondBlockHome img{
    width: 645px;
    height: 646px;
}

.secondBlockHome h2{
    font-size: 50px;
}

.secondBlockHome p{
    font-size: 33px;
}

.thirdBlockHome{
    margin-top: 208px;
    position: relative;
}

.thirdBlockHome .shape{
    width: 100%;
    height: 1500px;
}

.thirdBlockHome .illutrationFirst{
    position: absolute;
    right: 0px;
    top: -200px;
    width: 450px;
    height: auto;
}

.thirdBlockHome .illutrationSecond{
    position: absolute;
    top: 610px;
    right: 0;
    height: 950px;
    width: auto;
}

.thirdBlockHome .illutrationThird{
    position: absolute;
    top: 950px;
    left: 0;
    height: 750px;
    width: auto;
}

.thirdBlockHome .containerText{
    color: white;
    width: 550px;
    position: absolute;
    top: 200px;
    margin-left: 200px;
}

.thirdBlockHome h2{
    font-size: 50px;
}

.thirdBlockHome p{
    font-size: 33px;
}

.fourthBlockHome{
    margin-top: 350px;
}

.fourthBlockHome h2{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 95px;
}

.fourthBlockHome .galleryHome{
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.galleryHome img{
    margin: 23px;
    height: 482px;
    width: 407px;
}

/* MENU */
    /* BODY */
    .body_menu {
        background-image:url(../../assets/images/background_menu.png);
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0%;
        padding: 0%;
        min-height: 100vh;
        }
    
    .linear-gradient {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, black, rgba(0,0,0,0.1), black);
        display: flex;
        justify-content: center;
        min-height: 300vh;
        }

    .title_menu {
        background-image:url(../../assets/images/En-tetes_menu.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 60px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30%;
        color: #ffffff;
    }

    .line_menu {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40%;
    }
