/* BODY */

body.contact {
    color:black;
    background-color:black;
    background-image:url(background_menus.png);
    background-repeat: initial;
}

/* HEADER */

a.logo {
    margin: 0 auto;
}

/* TITRE */

h1 {
    color: white;
}

/* MENUS */
    /* BODY */
    .body_menu {
    background-image:url(../../assets/images/background_menus.png);
    background-repeat:no-repeat;
    background-size: cover;
    border: 4mm solid #f6ad1c;
    margin: 0%;
    padding: 0%;
    }
    .linear-gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, black, transparent);
    }