/* BODY */

body{
    padding: 0;
    margin: 0;
    font-family: "Aachen BT";
}

/* HEADER */

header {
    font-family: "Aachen BT";
}

    /* MENU */

nav{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    position: absolute;
    width: 100%;
}

nav img{
    width: 97px;
    height: 80px;
}

.blockHeader{
    display: flex;
    justify-content: space-around;
    width: 20%;
    list-style: none;
    align-items: center;
    padding: 0px;
}

.blockHeader a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.blockHeader li a:hover{
    color: #e9a438;
}




/* FIN HEADER */

/* CONTACT */

    /* BODY */
    body.contact {
        color:black;
        background-color:white;
        background: linear-gradient(
        rgba(40, 40, 45, 0.5), 
        rgba(40, 40, 45, 0.5)
        ),
        url(../../assets/images/background_Contact.jpg);
        background-repeat: initial;
        background-size: cover;
        font-family: "Aachen BT";
        padding: 0;
        margin: 0;
    }

    section.header_title h1 {
        margin: 0;
        font-size: 90px;
        text-align: center;
        padding: 110px 0;
        text-transform: uppercase;
        color:#E58F00;
    }

    section iframe#Maps {
        float: right;
        margin-left: 100px;
        margin-right: 100px;
        /* margin-bottom: 200px; */
        right: 0px;
        top: 350px;
        position: absolute;
        /* margin-top: 600px; */
    }
    
    section#rens p {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 45px;
        margin-top: 40px;
        margin-left: 170px;
        color:#ffffff;
    }
    
    form#comm {
        border-radius: 10px;
        border-width: 6px;
        background-color: rgba(0, 0, 0, 0.5);
        border-style: double;
        /* border-color: rgb(255, 0, 0); */
        margin-left: 100px;
        margin-right: 800px;
        margin-top: 150px;
        margin-bottom: 60px;
        text-align: center;
        padding: 10px 10px;
        font-size: 20px;
        color:#E58F00;
        width: 80%;
    }

    div.email input{
        resize: none;
        width: 20%;
    }

    div.message textarea{
        resize: none;
        width: 80%;
    }

    button#submit {
        color:#28282d;
        background-color: #E58F00;
        border-radius: 5px;
    }


/* FIN CONTACT */

/* OFFRES */
    /* BODY */
    body.offres {
        color:black;
        background-color: rgba(0, 0, 0, 0.5);
        background: linear-gradient(
        rgba(40, 40, 45, 0.5), 
        rgba(40, 40, 45, 0.5)
        ),
        url(../../assets/images/background_offres.jpg);
        background-repeat: initial;
        background-size: cover;
        font-family: "Aachen BT";
        padding: 0;
        margin: 0;
    }

    section.offres_title h1 {
        margin: 0;
        font-size: 90px;
        text-align: center;
        padding: 110px 0;
        text-transform: uppercase;
        color:#E58F00;
    }

    #h2offres {
        list-style-type: none;
        font-size: 45px;
        color:#ffffff;
        text-decoration: underline;
        text-align: center;
    }

    section.offres-texte p {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 25px;
        margin-top: 40px;
        margin-left: 170px;
        color:#ffffff;
    }

    #img1 {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 50px;
        margin-left: 60px;
        margin-right: 10px;
        display: inline-block;
        max-width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
    }

    #img2 {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 60px;
        position: absolute;
        display: inline-block;
        max-width: 100%;
        height: auto;
        z-index: 1;
    }

    #img3 {
        padding-left: 365px;
        padding-right: 365px;
        margin-top: 65px;
        margin-left: 80px;
        margin-right: 80px;
        max-width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
    }

    div.texte_offre1 h2 {
        z-index: 2;
        position: absolute;
        color: #E58F00;
        margin: 12px;
    }

    div.texte_offre1 p {
        z-index: 3;
        position: relative;
        color: white;
        padding-top: 50px;
        margin: 12px;
    }

    div.texte_offre2 h2 {
        z-index: 2;
        position: absolute;
        color: #E58F00;
        margin: 12px;
    }

    div.texte_offre2 p {
        z-index: 3;
        position: relative;
        color: white;
        padding-top: 50px;
        margin: 12px;
    }

    div.texte_offre3 h2 {
        z-index: 2;
        position: absolute;
        color: #E58F00;
        margin: 12px;
    }

    div.texte_offre3 p {
        z-index: 3;
        position: relative;
        color: white;
        padding-top: 50px;
        margin: 12px;
    }



/* FIN CONTACT */



/* HEADER */


/* HOME */

.homepage{
    background-color: #1d1d23;
}

.firstBlockHome{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(
        rgba(40, 40, 45, 0.95), 
        rgba(40, 40, 45, 0.95)
      ),
      url(../../assets/images/backgroundHome.png);
    background-size: cover;
    padding-top: 50px;
}

.firstBlockHome img{
    width: 626px;
    height: 488px;
    margin-left: 70px;
    margin-right: 59px;
}

.firstBlockHome h2{
    font-size: 66px;
    color: #E58F00;
    font-weight: normal;
    margin-top: 0;
}

.firstBlockHome p{
    font-size: 25px;
    color: white;
}

.firstBlockHome .containerText{
    max-width: 520px;
    margin-right: 85px;
}

.firstBlockHome a{
    background-color: #E58F00;
    color: #28282d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    height: 70px;
    width: 200px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.firstBlockHome a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E58F00;
    border-radius: 5px;
    z-index: -2;
}

.firstBlockHome a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #b57300;
    transition: all .5s;
    border-radius: 5px;
    z-index: -1;
}


.firstBlockHome a:hover:before {
    width: 100%;
}

.secondBlockHome{
    margin-top: 120px;
    margin-left: 120px;
    display: flex;

}


.secondBlockHome .containerText{
    color: white;
    margin-left: 47px;
    margin-right: 85px;
}

.secondBlockHome img{
    width: 645px;
    height: 646px;
}

.secondBlockHome h2{
    font-size: 50px;
}

.secondBlockHome p{
    font-size: 33px;
}

.thirdBlockHome{
    margin-top: 208px;
    position: relative;
}

.thirdBlockHome .shape{
    width: 100%;
    height: 1500px;
}

.thirdBlockHome .illutrationFirst{
    position: absolute;
    right: 0px;
    top: -200px;
    width: 450px;
    height: auto;
}

.thirdBlockHome .illutrationSecond{
    position: absolute;
    top: 610px;
    right: 0;
    height: 950px;
    width: auto;
}

.thirdBlockHome .illutrationThird{
    position: absolute;
    top: 950px;
    left: 0;
    height: 750px;
    width: auto;
}

.thirdBlockHome .containerText{
    color: white;
    width: 550px;
    position: absolute;
    top: 200px;
    margin-left: 200px;
}

.thirdBlockHome h2{
    font-size: 50px;
}

.thirdBlockHome p{
    font-size: 33px;
}

.fourthBlockHome{
    margin-top: 350px;
}

.fourthBlockHome h2{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 95px;
}

.fourthBlockHome .galleryHome{
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.galleryHome img{
    height: 482px;
    width: 407px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.galleryHome .containerPicture{
    background-color: black;
    margin: 23px;
    overflow: hidden;
    height: 482px;
    width: 407px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.galleryHome img:hover{
    transition: 0.5s ease-in-out;
    opacity: 0.6;
    height: 578px;
    width: 488px;
}

.fifthBlockHome{
    margin-top: 180px;
    background-image: url(../images/illustrationFifthBlock.png);
    height: 960px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifthBlockHome .containerText{
    padding: 89px 100px 89px 100px;
    border: 10px solid #e58f00;
    color: white;
    width: 528px;
    background-color: rgba(29, 29, 35, 0.7);
}

.fifthBlockHome h2{
    font-size: 50px;
    text-align: center;
}

.fifthBlockHome p{
    font-size: 33px;
}

.sixthBlockHome{
    padding: 0px 43px 0px 43px;
    margin-top: 180px;
}

.sixthBlockHome h2{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 62px;
}

.sixthBlockHome .containerBlockMenu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sixthBlockHome .containerBlockMenu .blockMenuHome{
    width: 407px;
    margin: 0px 27px 0px 27px;
}

.sixthBlockHome .containerBlockMenu .blockMenuHome h3{
    font-size: 28px;
    color: #e58f00;
    text-transform: uppercase;
}

.sixthBlockHome .containerBlockMenu .blockMenuHome p{
    font-size: 17px;
    color: white;
}

.sixthBlockHome .containerBlockMenu .blockMenuHome span{
    font-size: 25px;
    color:#e58f00;
}

.seventhBlockHome{
    width: 100%;
    height: 504px;
    background-color: #e58f00;
    margin-top: 196px;
    display: flex;
    align-items: center;
    overflow-y: visible;
}

.seventhBlockHome img{
    width: 635px;
    height: 636px;
    margin-right: 150px;
}

.seventhBlockHome h2{
    color: white;
    font-size: 50px;
}

.seventhBlockHome p{
    color: white;
    font-size: 33px;
    max-width: 700px;
}


/* MENU */
    /* BODY */
    .body_menu {
        background-image:url(../../assets/images/background_menu.png);
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0%;
        padding: 0%;
        min-height: 100vh;
        }
    
    .linear-gradient {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, black, rgba(0,0,0,0.1), black);
        display: flex;
        justify-content: center;
        min-height: 300vh;
        }
    
    .columns {
        margin-top: 10%;
        position: absolute;
        left: 30px;
        right: 30px;
    }
    
    /* line left */
    .line_left {
        float: left;
        width: 10%;
        margin-right: 30px;
        margin-top: 30%;
    }

    .line_left img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* line right */
    .line_right {
        float: right;
        width: 10%;
        margin-left: 30px;
        margin-top: 30%;
    }

    .line_right img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* bloc centre */
    .bloc_centre {
        overflow: visible;
	    height: 1%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .bloc_centre .title_menu {
        background-image:url(../../assets/images/En-tetes_menu.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30%;
        color: #ffffff;
    }
