/* BODY */

body {
    color:black;
    background-color:white;
    background-image:url(../../assets/images/background_menus.png);
    background-repeat: initial;
    font-family: "Aachen BT";
    padding: 0;
    margin: 0;
}

/* HEADER */


/* HOME */

.firstBlockHome{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: black;
}

.firstBlockHome img{
    width: max-content;
    height: max-content;
}

.firstBlockHome h2{
    font-size: 32px;
    color: #E58F00;
}

.firstBlockHome p{
    font-size: 6px;
    color: white;
}