/* BODY */

body.contact {
    color:black;
    background-color:black;
    background-image:url(background_menus.png);
    background-repeat: initial;
}

/* HEADER */

a.logo {
    margin: 0 auto;
}

/* TITRE */

h1 {
    color: white;
}
